<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Vector Maps</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
									<li class="breadcrumb-item active">Vector Maps</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">World Map</h4>
								</div>
								<div class="card-body">
									<div id="vmap" style="width: 100%; height: 400px;"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">USA</h4>
								</div>
								<div class="card-body">
									<div id="vmapusa" style="width: 100%; height: 400px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->