<div class="account-page ml-minus">
<!-- Main Wrapper -->
		<div class="main-wrapper">			
			<!-- Page Content -->
			<div class="content align-items-center">
					
				<div class="w-100 ">
					<div class="login-left">
						
						<!-- Login Tab Content -->
						<div class="account-content">
							<div class="login-header">
								<a routerLink ="/chat/chat-main">
                                    <img src="assets/img/logo-full.png" alt="">
                                </a>
							</div>
							<div class="form-col">
								<div class="login-text-details">
									<h3>Log in</h3>
									<p>Login with your Data that you entered during your Registration</p>
								</div>
								<form class="form" [formGroup]="form" (ngSubmit)="login()" name="form" #f="ngForm">
	                                <div class="form-group">
	                                    <label>Your Email</label>
	                                    <input [ngClass]="{ 'is-invalid': submitted && form.get('username').invalid && form.get('username').errors }" class="form-control form-control-lg group_formcontrol" name="username" type="email" formControlName="username">
										<div *ngIf="submitted && form.get('username').invalid && form.get('username').errors" class="invalid-feedback">
											<div *ngIf="form.get('username').invalid && form.get('username').errors['required']">Email is required</div>
											<div *ngIf="form.get('username').invalid && form.get('username').errors['email']">Email is invalid</div>
										</div>
									</div>
	                                <div class="form-group">
	                                    <label>Password</label>
	                                    <input [ngClass]="{ 'is-invalid': submitted && form.get('password').invalid && form.get('password').errors }" class="form-control form-control-lg group_formcontrol" name="password" type="password" formControlName="password">
										<div *ngIf="submitted && form.get('password').invalid && form.get('password').errors" class="invalid-feedback">
											<div *ngIf="form.get('password').invalid && form.get('password').errors['required']">Password is required</div>
											<div *ngIf="form.get('password').invalid && form.get('password').errors['minlength']">
											  Password must be at least 6 characters
											</div>
											<div *ngIf="form.get('password').invalid && form.get('password').errors['maxlength']">
											  Username must not exceed 40 characters
											</div>
										</div>
									</div>
	                                <div class="form-group">
	                                	<label class="custom-check d-flex">
	                                        <input type="checkbox">Keep me logged in
	                                        <span class="checkmark"></span>
	        
	                                    </label>
	                                </div>
	                                <div class="pt-1">
										<div class="form-actions" *ngIf="loading">
										  <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
										</div>
	                                	<div class="text-center">
	                                     	<button class="btn newgroup_create w-100 d-block w-100" [class.spinner]="loading" [disabled]="loading" type="submit">Login</button>
	                                    </div>
	                                </div>
								
								<div class="text-center dont-have">Don’t have an account? <a routerLink ="/chat/signup-email">Signup</a></div>
								<div class="text-center mt-3">
									<span class="forgot-link">
										<a routerLink ="/chat/forgotpassword-email" class="text-end">Forgot Password ?</a>
									</span>
								</div>
								</form>
							</div>
						</div>
						<!-- /Login Tab Content -->
					</div>
					<div class="login-right">
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
		</div>
		<!-- /Main Wrapper -->
	</div>