			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">

                	<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">General Settings</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
									<li class="breadcrumb-item active">General Settings</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row settings-tab">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header all-center">
									<a routerLink ="/admin/general" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/admin/img/profiles/avatar-01.jpg" alt="User Image">
									<i class="fe fe-camera"></i>
									</a>
									<h6>Seema Sisty</h6>
									<p>Administrator</p>
								</div>
								<div class="card-body p-0">
									<div class="profile-list">
										<a href="javascript:void(0);"><i class="fe fe-comment-o"></i></a>
										<a href="javascript:void(0);">Chat</a>
										<a href="javascript:void(0);" class="float-end"><h5>10, 203</h5></a>
									</div>
									<div class="profile-list">
										<a href="javascript:void(0);"><i class="fe fe-phone"></i></a>
										<a href="javascript:void(0);">Call</a>
										<a href="javascript:void(0);" class="float-end"><h5>403</h5></a>
									</div>
									<div class="profile-list">
										<a href="javascript:void(0);"><i class="fe fe-disabled"></i></a>
										<a href="javascript:void(0);">Blocked User</a>
										<a href="javascript:void(0);" class="float-end"><h5>103</h5></a>
									</div>
									<div class="profile-list">
										<a routerLink ="/admin/grouphistory"><button type="button" class="btn w-100 btn-outline-light">View History</button></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">General Settings</h4>
								</div>
								<div class="card-body">
									<form action="#">
										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control" value="Seemasisty">
										</div>
										<div class="form-group">
											<label>Email Address</label>
											<input type="email" class="form-control" value="sisty@gmail.com">
										</div>
										<div class="form-group">
											<label>Username</label>
											<input type="text" class="form-control" value="Seema">
										</div>
										<div class="form-group">
											<label>Password</label>
											<input type="password" class="form-control" value="seemas12345">
										</div>
										<div class="text-end">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
