<div class="account-page ml-minus">
<!-- Main Wrapper -->
		<div class="main-wrapper">			
			<!-- Page Content -->
			<div class="content align-items-center">
					
				<div class="w-100 ">
					<div class="login-left">
						
						<!-- Login Tab Content -->
						<div class="account-content">
							<div class="login-header">
								<a routerLink ="/chat/chat-main">
                                    <img src="assets/img/logo-full.png" alt="">
                                </a>
							</div>
							<div class="form-col">
								<div class="login-text-details">
									<h3>{{'_forgot_Password' | translate}}</h3>
									<p>{{'forgot_Password_title' | translate}}</p>
								</div>
								<form *ngIf="!otp_sent" class="form" [formGroup]="form" (ngSubmit)="recovery()" name="form" #f="ngForm">
	                                <div class="form-group">
	                                    <label>{{'your_email' | translate}}</label>
	                                    <input [ngClass]="{ 'is-invalid': submitted && form.get('username').invalid && form.get('username').errors }" class="form-control form-control-lg group_formcontrol" name="username" type="email" formControlName="username">
										<div *ngIf="submitted && form.get('username').invalid && form.get('username').errors" class="invalid-feedback">
											<div *ngIf="form.get('username').invalid && form.get('username').errors['required']">{{'email_required' | translate}}</div>
											<div *ngIf="form.get('username').invalid && form.get('username').errors['email']">{{'email_invalid_format' | translate}}</div>
										</div>
									</div>
									<div class="pt-3">
										<div class="text-center">
											<button class="btn newgroup_create w-100 d-block w-100" [class.spinner]="loading" [disabled]="loading" type="submit">{{'reset_password' | translate}}</button>
										</div>
									</div>
								</form>
								
								<form *ngIf="otp_sent" class="form" [formGroup]="form1" (ngSubmit)="savecode()" name="form1" #f="ngForm">
	                                <div class="form-group">
	                                    <label>{{'your_email' | translate}}</label>
	                                    <input readonly class="form-control form-control-lg group_formcontrol" name="username" type="email" formControlName="username">
									</div>
									<div class="form-group">
										<label>{{'code' | translate}}</label>
										<input [ngClass]="{ 'is-invalid': submitted1 && form1.get('code').invalid && form1.get('code').errors }" class="form-control form-control-lg group_formcontrol" name="code" type="text" formControlName="code">
										<div *ngIf="submitted1 && form1.get('code').invalid && form1.get('code').errors" class="invalid-feedback">
											<div *ngIf="form1.get('code').invalid && form1.get('code').errors['required']">{{'code_required' | translate}}</div>
										</div>
									</div>
	                                <div class="form-group">
	                                    <label>{{'password' | translate}}</label>
	                                    <input [ngClass]="{ 'is-invalid': submitted1 && form1.get('password').invalid && form1.get('password').errors }" class="form-control form-control-lg group_formcontrol" name="password" type="password" formControlName="password">
										<div *ngIf="submitted1 && form1.get('password').invalid && form1.get('password').errors" class="invalid-feedback">
											<div *ngIf="form1.get('password').invalid && form1.get('password').errors['required']">{{'password_required' | translate}}</div>
											<div *ngIf="form1.get('password').invalid && form1.get('password').errors['minlength']">
												{{'passord_min_length' | translate}}
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="custom-check d-flex flex-wrap ps-0 mt-3">
											{{'didnt_recieve_otp' | translate}} <a class="ms-1" (click)="recovery()" data-bs-toggle="modal" data-bs-target="#otp-success"> {{'resend_otp' | translate}}</a>
										</label>
									</div>
									<div class="pt-3">
										<div class="text-center">
											<button class="btn newgroup_create w-100 d-block w-100" [class.spinner]="loading" [disabled]="loading" type="submit">{{'reset_password' | translate}}</button>
										</div>
									</div>
								</form>
							</div>
							<div class="back-btn-col text-center">
								<a (click)="otp_sent=false"><span><i class="fas fa-caret-left"></i></span> {{'back' | translate}}</a>
							</div>
						</div>
						<!-- /Login Tab Content -->
					</div>
					<div class="login-right pwd-bg">
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
			
		</div>
		<!-- /Main Wrapper -->
	</div>