<div class="account-page ml-minus">
<!-- Main Wrapper -->
		<div class="main-wrapper">			
			<!-- Page Content -->
			<div class="content align-items-center">
					
				<div class="w-100 ">
					<div class="login-left">
						
						<!-- Login Tab Content -->
						<div class="account-content">
							<div class="login-header">
								<a routerLink ="/chat/chat-main">
                                    <img src="assets/img/logo-full.png" alt="">
                                </a>
							</div>
							<div class="form-col">
								<div class="login-text-details">
									<h3>OTP VERIFICATION</h3>
									<p>Please Enter the OTP send to your Mobile Number</p>
								</div>
                                <div class="otp-box">
		                        	<form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off" action="/chat/reset-password">
										<input type="text" id="digit-1" name="digit-1" data-next="digit-2" maxlength="1">
										<input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" maxlength="1">
										<input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" maxlength="1">
										<input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" maxlength="1">
										<div class="form-group">
		                                	<label class="custom-check d-flex flex-wrap ps-0 mt-5">
		                                        Didnt recieve OTP ?  <a data-bs-toggle="modal" data-bs-target="#otp-success">Resend OTP.</a>
		                                    </label>
		                                </div>
										<div class="pt-1">
		                                	<div class="text-center">
		                                     	<button class="btn newgroup_create w-100 d-block w-100" type="submit">Login</button>
		                                    </div>
		                                </div>
									</form>
		                        </div>
							</div>
							<div class="back-btn-col text-center">
								<a routerLink ="/chat/forgotpassword-mobile"><span><i class="fas fa-caret-left"></i></span> Back</a>
							</div>
						</div>
						<!-- /Login Tab Content -->
					</div>
					<div class="login-right otp-bg">
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
			
			 <!-- OTP Success -->
				<div class="modal fade" id="otp-success">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="success-icon text-center">
									<i class="fas fa-check mb-3"></i>
									<p>OTP Sent to the Registered Mobile Number</p>
								</div>    
								<div class="modal-close text-end">
									<div class="close-modal" data-bs-dismiss="modal">
										<span>close</span>
									</div>
								</div>
							</div>       
						</div>
					</div>
				</div>
			<!-- /OTP Success -->
			
		</div>
		<!-- /Main Wrapper -->
	</div>